---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404, no lo he encontrado">
  <main class="max-w-4xl m-auto min-h-screen grid place-content-center text-center">
    <h1 class="text-4xl font-black mb-4">Oh, vaya. ¡Lo has roto!</h1>
    <img src="https://midu.dev/images/this-is-fine-404.gif" />
    <a href="/" class="text-white bg-yellow-700 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center mr-2 dark:bg-yellow-600 dark:hover:bg-yellow-700 dark:focus:ring-yellow-800 justify-center my-8">
      Volver a inicio
    </a>
  </main>
</Layout>